* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-image: url(../imgs/backgroud.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 100vh;
    background-position: 50% 50%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.border-1 {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 13px solid #fff;
    border-radius: 4%;
    padding: 0.4em;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 1rem #FFC959,
        0 0 0.4rem #FFC959,
        0 0 1.4rem #FFC959,
        inset 0 0 1rem #FFC959,
        inset 0 0 0.4rem #FFC959,
        inset 0 0 1.4rem #FFC959;
}

.border-2 {
    width: 425px;
    height: 425px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 8px solid #fff;
    border-radius: 4%;
    padding: 0.4em;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 1rem #FFC959,
        0 0 0.4rem #FFC959,
        0 0 1.4rem #FFC959,
        inset 0 0 1rem #FFC959,
        inset 0 0 0.4rem #FFC959,
        inset 0 0 1.4rem #FFC959;
}

.border-3 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 4%;
    padding: 0.4em;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 1rem #FFC959,
        0 0 0.4rem #FFC959,
        0 0 1.4rem #FFC959,
        inset 0 0 1rem #FFC959,
        inset 0 0 0.4rem #FFC959,
        inset 0 0 1.4rem #FFC959;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

li {
    position: relative;
    display: block;
    color: #fff;
    font-size: 35px;
    width: 60px;
    height: 60px;
    background: #090302;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
}

li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}

li#link-1:before {
    background: #f0f6fc;
}

li#link-2:before {
    background: #1DA1F2;
}

li#link-3:before {
    background: #E1306C;
}

li#link-4:before {
    background: #2867B2;
}

li#link-5:before {
    background: #ff0000;
}

li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

li#link-1:hover:before {
    box-shadow: 0 0 15px #f0f6fc;
}

li#link-2:hover:before {
    box-shadow: 0 0 15px #1DA1F2;
}

li#link-3:hover:before {
    box-shadow: 0 0 15px #E1306C;
}

li#link-4:hover:before {
    box-shadow: 0 0 15px #2867B2;
}

li#link-5:hover:before {
    box-shadow: 0 0 15px #ff0000;
}

li#link-1:hover {
    color: #fff;
    box-shadow: 0 0 15px #f0f6fc;
    text-shadow: 0 0 15px #f0f6fc;
}

li#link-2:hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1DA1F2;
    text-shadow: 0 0 15px #1DA1F2;
}

li#link-3:hover {
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
}

li#link-4:hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867B2;
    text-shadow: 0 0 15px #2867B2;
}

li#link-5:hover {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.perfil {
    width: 100%;
}

.logo {
    width: 10%;
}